.ListingShow {
    margin-left: 150px;
    /* margin-right: 150px; */
    width: 655px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-weight: 600;
}

.ShowPage {
    display: flex;
}

#location {
    text-decoration: underline;
    font-weight: 500;
    font-size: 15px;
}