.ListingShow {
    margin-left: 150px;
    /* margin-right: 150px; */
    width: 655px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-weight: 600;
}

.ShowPage {
    display: flex;
}

#location {
    text-decoration: underline;
    /* font-weight: 500; */
    /* font-size: 15px; */
}

h5 > *{
    padding-right: 1vw;
}

.offers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.offers i {
    width: 2vw;
}

#caption {
    font-size: 12px;
    margin-left: 2.3vw;
}

.captionedIcons i {
    width: 2vw;
}


.captionedIcons p {
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 5px;
}

#title {
    margin-left: 10.5vw;
}

#thumbnail {
    width: 44%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    margin-right: 0.5vw;
}

.showImages {
    display: flex;
    height: 51vh;
}

.showImages img:hover{
    -webkit-filter: brightness(70%);
    cursor: pointer;
}

img#two {
    border-top-right-radius: 15px;
    max-height: 28vh;
}

img#four {
    border-bottom-right-radius: 15px;
}

#miniPics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5vw;
    row-gap: 0.5vw;
    margin-right: 12vw;
    border-top-right-radius: 15px;
}

#showCarousel {
    position: absolute;
    width: 11vw;
    right: 14vw;
    height: 2.5vw;
    border: 1px black solid;
    border-radius: 10px;
    transform: translateY(-7vh);
    font-weight: 500;
}

#showCarousel i {
    margin-right: 1.5px;
}

#miniPics img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#host {
    display: flex;
    justify-content: space-between;
}

#hostpfp {
    transform: translateY(3vh);
}

#showPageMap {
    width: 80%;
    margin: auto;
    height: 550px;
    overflow: hidden;
}