#filter {
    width: 88%;
    height: 7vh;
    margin-left: 5vw;
    padding-left: 2vh;
    display: flex;
    justify-content: space-around;
}

#filter img{
    height: 4vh;
}

#filter div {
    font-size: 12px;
    text-align: center;
    color: grey;
    font-weight: 500;
}

.category {
    cursor: pointer;
}

#filter hr {
    height: 2px;
    margin: 0px;
    margin-bottom: 2px;
}
