#mapcontainer #map{
  width: 100%;
  height: 100vh;
}

.mapListingDetails {
  display: block;
  background-color: white;
  width: 19vw;
  position: absolute;
  cursor: pointer;
  text-align: center;
}

.mapListingDetails img{
  width: 15vw;
}

#modalImg {
  width: 20vw;
}