.nav {
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    height: 33px;
}

#logo{
    display: flex;
    font-size: 20px;
    font-weight: 700;
    color: rgb(236, 82, 101);
    cursor: pointer;
}

#logoimage {
    padding-top: 5px;
    width: 31px;
    height: 31px;
}

#pfp {
    width: 80px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid lightgray;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

#pfp:hover {
    cursor: pointer;
    box-shadow: 2px 2px  rgba(138, 138, 138, 0.2);
}

.profile-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 130px;
    width: 201px;
    box-shadow: 0px 0px 10px rgba(160, 159, 159, 0.3);
    border-radius: 20px;
    transform: translateX(-115px);
    padding: 0px;
    background-color: white;
}

.profile-dropdown > * {
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#pfpIcon {
    padding-top: 21px;
}

#burger {
    padding-top: 15px;
    padding-left: 7px;
}

button {
    background-color: white;
    border: none;
    color: rgb(43, 43, 43);
    cursor: pointer;
    margin-top: 7px;
    width: 100%;
}

button:hover {
    background-color: rgb(244, 243, 243);
}

#logoname{
    margin-top: 10px;
    margin-left: 10px;
}

#search {
    margin-top: 5px;
    border: 1px solid lightgrey;
    width: 300px;
    height: 40px;
    border-radius: 50px;
    box-shadow: 1px 1px 5px rgba(138, 138, 138, 0.3);
}

#search:hover {
    box-shadow: 2px 2px 5px rgba(138, 138, 138, 0.4);
}

#header {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#e7e6e6;
    height: 1px;
    margin-top: 30px;
}